[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PSPManalysis"]
	path = PSPManalysis
	url = https://github.com/cran/PSPManalysis
[submodule "deBif"]
	path = deBif
	url = https://github.com/amderoos/debif
